*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, sans-serif;
}


main{
    background-color: black;  
    height: 100vh;
    width: 100vw; 
    overflow-y: auto;
    padding: 30px;
    
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw; 
    background-color: rgb(43, 43, 43);
}





/* LAYOUT CLASSES */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.content-main{
    position: relative;
    margin: 5px;
}


.container-footer{
    width: 100%;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.justify{
    justify-content: space-between;
    align-items: center;
}

.col-20{
    width: calc(100% / 7);
    min-width: 150px;
}

.col-bg{
    width: 60%;
}

.col-sm{
    width: 20%;
}





/* STYLING CLASS */


.top-labels{
    position: fixed;
    z-index: 1;
    display: flex;
    top: 10px;
    right: 30px;
    font-size: 12px;
}

.top-labels  a{
    color: #fff;
    text-decoration: none;

}

.top1, .top2{
    background-color: #20202087;
    padding: 6px;
    border-radius: 5px;
}

.top-labels .top2{
    margin-left: 15px;
}

.content-main > img{
    width: 100%;
    height: 160px;
}

.text-img{
    position: absolute;
    bottom: 4px;
    background-color:#20202087; 
    padding: 5px;
}

.text-img a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.content-footer{
    color: white;
}

.content-footer i{
    font-size: 35px;
    margin: 0 15px;
}

.content-footer.py-25{
    padding: 25px 0;
}

.content-footer.text-center{
    text-align: center;
}

.content-footer.text-right{
    font-size: 15px;
    text-align: center;
    color: red; 
}

i > .input{
    font-size: 7px;
    margin-top: 5px;
    color: #fff;
}

.fa-share-from-square{
    color: green;
}

