*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    background-color: black;
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 30px;
    
}

footer{
    height: 100px;
    background-color: darkgray;
}




/* LAYOUT CLASSES */

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.col-20{
    width: calc(100% / 7);
}

.col-30{
    width: calc(100% / 3)
}

.content-main{
    margin: 5px;
}


.content-footer{
    background-color: rgb(218, 103, 103);
    margin-top: 20px;
    border: 1px solid black;
}


/* STYLING CLASS */

.content-main > img{
    width: 100%;
}

